<div class="container-lg mt-3">
    <form name="ctrl.form" novalidate>
        <div class="card">
            <div class="card-header">
                <div class="fw-bold text-uppercase">
                    Osnovni podaci
                </div>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 col-sm-4 col-xl-2">
                        <label for="faktura-datum-valute" class="form-label">
                            Datum valute
                        </label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                uib-datepicker-popup
                                is-open="datumValuteIsOpen"
                                name="datumValute"
                                id="faktura-datum-valute"
                                ng-model="ctrl.racun.datumvalute"
                                ng-required="true"
                                pattern="\d{4}-\d{2}-\d{2}">
                            <button
                                type="button"
                                class="btn btn-light border"
                                ng-click="datumValuteIsOpen = !datumValuteIsOpen">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                        <div ng-messages="ctrl.form.datumValute.$error" role="alert" class="invalid-feedback">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-xl-2">
                        <label for="faktura-poreski-period" class="form-label">
                            Poreski period
                        </label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                uib-datepicker-popup="MM/yyyy"
                                is-open="poreskiPeriodIsOpen"
                                name="poreski_period"
                                id="faktura-poreski-period"
                                datepicker-options="{ datepickerMode: 'month', minMode: 'month' }"
                                ng-model="ctrl.racun.poreski_period"
                                ng-required="true"
                                pattern="((0[1-9])|(1[0-2]))\/(\d{4})">
                            <button
                                type="button"
                                class="btn btn-light border"
                                ng-click="poreskiPeriodIsOpen = !poreskiPeriodIsOpen">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                        <div ng-messages="ctrl.form.poreski_period.$error" role="alert" class="invalid-feedback">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-xl-2">
                        <label for="faktura-datum-prometa" class="form-label">
                            Datum prometa
                        </label>
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                uib-datepicker-popup
                                is-open="datumPrometaIsOpen"
                                name="datum_prometa"
                                id="faktura-datum-prometa"
                                ng-model="ctrl.racun.datum_prometa"
                                ng-required="true"
                                pattern="\d{4}-\d{2}-\d{2}">
                            <button
                                type="button"
                                class="btn btn-light border"
                                ng-click="datumPrometaIsOpen = !datumPrometaIsOpen">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                        <div ng-messages="ctrl.form.datum_prometa.$error" role="alert" class="invalid-feedback">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4"></div>
        <div class="card">
            <div class="card-header">
                <div class="fw-bold text-uppercase">
                    Valuta i kurs razmjene
                </div>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12 col-sm-8 col-xl-4">
                        <label for="faktura-valuta-id" class="form-label">
                            Valuta
                        </label>
                        <ui-select
                            id="faktura-valuta-id"
                            name="valuta_id"
                            theme="select2"
                            search-enabled="true"
                            ng-model="ctrl.racun.valuta_id"
                            ng-required="true"
                            ng-change="ctrl.onCurrencyChange()">
                            <ui-select-match allow-clear="true" placeholder="&nbsp;">
                                <span ng-bind="$select.selected.iso_4217_alfanumericki_kod"></span>
                                -
                                <span ng-bind="$select.selected.naziv_me"></span>
                            </ui-select-match>
                            <ui-select-choices
                                repeat="item.id as item in (ctrl.valute | filter: $select.search) track by item.id">
                                <span ng-bind="item.iso_4217_alfanumericki_kod"></span>
                                -
                                <span ng-bind="item.naziv_me"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-messages="ctrl.form.valuta_id.$error" role="alert" class="invalid-feedback">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-xl-2">
                        <label for="faktura-kurs-razmjene" class="form-label">
                            Kurs razmjene
                        </label>
                        <input
                            type="number"
                            inputmode="decimal"
                            class="form-control"
                            name="kurs_razmjene"
                            ng-disabled="ctrl.racun.valuta_id === 50"
                            id="faktura-kurs-razmjene"
                            ng-model="ctrl.racun.kurs_razmjene"
                            ng-required="true"
                            min="0.0001"
                            step="0.0001">
                        <div
                            class="text-muted small mt-1"
                            ng-if="ctrl.racun.valuta.iso_4217_alfanumericki_kod !== 'EUR'">
                            1 {{ ctrl.racun.valuta.iso_4217_alfanumericki_kod }} u EUR
                        </div>
                        <div ng-messages="ctrl.form.kurs_razmjene.$error" role="alert" class="invalid-feedback">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4"></div>
        <div class="card">
            <div class="card-header">
                <div class="fw-bold text-uppercase">
                    Kupac
                </div>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-12">
                        <invoice-buyer-picker
                            data-invoice="ctrl.racun"
                            name="komitent_id"
                            ng-model="ctrl.racun.komitent_id"
                            ng-required="!ctrl.racun.is_cash">
                            <div ng-messages="ctrl.form.komitent_id.$error" role="alert" class="invalid-feedback">
                                <div ng-message="nepotpuno">
                                    Podaci kupca su nepotpuni.
                                </div>
                                <div ng-messages-include="error-messages"></div>
                            </div>
                        </invoice-buyer-picker>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="stavka in ctrl.racun.stavke track by $index">
            <div class="position-relative">
                <div id="invoice-item-{{ $index }}" style="position: absolute; top: -20px;"></div>
            </div>
            <div ng-form="innerForm" novalidate>
                <input type="hidden" ng-model="stavka.izvor_kalkulacije" required>
                <div class="mt-4"></div>
                <div class="card">
                    <div class="card-header">
                        <div class="fw-bold text-uppercase">
                            Stavka #{{ $index + 1 }}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-12 col-lg-4">
                                <label class="form-label">
                                    Tip unosa
                                </label>
                                <div class="btn-group w-100">
                                    <button
                                        type="button"
                                        class="btn"
                                        ng-class="{ 'btn-primary': stavka.tipUnosa === 'slobodan_unos', 'btn-light border': stavka.tipUnosa !== 'slobodan_unos' }"
                                        ng-model="stavka.tipUnosa"
                                        uib-btn-radio="'slobodan_unos'"
                                        ng-disabled="stavka.isDisabled"
                                        ng-change="ctrl.naPromjenuTipaUnosa($index)">
                                        Slobodan unos
                                    </button>
                                    <button
                                        type="button"
                                        class="btn"
                                        ng-class="{ 'btn-primary': stavka.tipUnosa === 'po_artiklu', 'btn-light border': stavka.tipUnosa !== 'po_artiklu' }"
                                        ng-model="stavka.tipUnosa"
                                        uib-btn-radio="'po_artiklu'"
                                        ng-disabled="stavka.isDisabled"
                                        ng-change="ctrl.naPromjenuTipaUnosa($index)">
                                        Po artiklu
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div ng-if="stavka.tipUnosa === 'slobodan_unos'">
                                    <label for="stavka-naziv-{{ $index }}" class="form-label">
                                        Naziv artikla ili usluge
                                    </label>
                                    <textarea
                                        type="text" class="form-control"
                                        name="naziv"
                                        id="stavka-naziv-{{ $index }}"
                                        fis-textarea-resize
                                        ng-model="stavka.naziv"
                                        ng-required="true"
                                        ng-minlength="1"
                                        ng-disabled="stavka.isDisabled">
                                </textarea>
                                    <div ng-messages="innerForm.naziv.$error" role="alert" class="invalid-feedback">
                                        <div ng-messages-include="error-messages"></div>
                                    </div>
                                </div>
                                <div ng-if="stavka.tipUnosa === 'po_artiklu'">
                                    <div id="invoice-item-template-dropdown-{{ $index }}" class="position-relative">
                                        <label for="stavka-artikal" class="form-label">
                                            Odaberite artikal
                                        </label>
                                        <input
                                            id="stavka-artikal"
                                            type="text"
                                            name="nazivTextarea"
                                            class="form-control"
                                            uib-typeahead="stavkaLagera as stavkaLagera.artikal.naziv for stavkaLagera in ctrl.getStavkeLagera($viewValue)"
                                            typeahead-template-url="app/views/faktura-slobodan-unos-avansa/invoice-item-template-popup.template.html"
                                            typeahead-focus-first="false"
                                            typeahead-loading="isLoading"
                                            typeahead-min-length="0"
                                            typeahead-focus-on-select="false"
                                            typeahead-wait-ms="300"
                                            typeahead-on-select="ctrl.onInvoiceItemTemplateSelect($index, $item, $model, $label)"
                                            typeahead-additional-options="{ openOnFocus: true, clearOnFocus: true }"
                                            ng-model="stavka.query"
                                            ng-required="true"
                                            data-ng-disabled="stavka.isDisabled"
                                            ng-focus="ctrl.onFocusItemTemplateSearch($index)"
                                            ng-blur="ctrl.onBlurItemTemplateSearch($index)"
                                            ng-class="{ 'is-invalid': (innerForm.$submitted || innerForm.nazivTextarea.$dirty) && innerForm.nazivTextarea.$invalid }">
                                        <div ng-messages="innerForm.nazivTextarea.$error" role="alert" class="invalid-feedback">
                                            <div ng-messages-include="error-messages"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3"></div>
                        <div class="row g-3">
                            <div class="col-12 col-md-4">
                                <label for="stavka-pdv-{{ $index }}" class="form-label">
                                    Stopa poreza
                                </label>
                                <ui-select
                                    id="stavka-pdv-{{ $index }}"
                                    name="porez_procenat"
                                    ng-model="stavka.porez_procenat"
                                    search-enabled="false"
                                    required
                                    theme="select2"
                                    ng-disabled="stavka.isDisabled"
                                    ng-change="ctrl.invoiceFactory.recalculateItem(ctrl.racun, stavka)">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.procenat as item in ctrl.poreskeStope">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-messages="innerForm.porez_procenat.$error" role="alert" class="invalid-feedback">
                                    <div ng-messages-include="error-messages"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" ng-if="stavka.porez_procenat === null">
                                <label for="stavka-tax-exemption-amount-{{ $index }}" class="form-label">
                                    Iznos
                                </label>
                                <input
                                    type="number"
                                    inputmode="decimal"
                                    class="form-control"
                                    name="tax_exemption_amount"
                                    id="stavka-tax-exemption-amount-{{ $index }}"
                                    ng-model="stavka.tax_exemption_amount"
                                    ng-change="ctrl.invoiceFactory.recalculateItemBasedOnExemption(ctrl.racun, stavka); ctrl.onItemUpdate();"
                                    ng-required="stavka.porez_procenat === null"
                                    ng-disabled="stavka.isDisabled"
                                    min="{{ stavka.porez_procenat === null ? 0.0001 : 0 }}"
                                    step="0.0001">
                                <div ng-messages="innerForm.tax_exemption_amount.$error" role="alert" class="invalid-feedback">
                                    <div ng-messages-include="error-messages"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" ng-if="stavka.porez_procenat === null">
                                <label for="stavka-tax-exemption-reason-id-{{ $index }}" class="form-label">
                                    Razlog oslobođenja poreza
                                </label>
                                <ui-select
                                    id="stavka-tax-exemption-reason-id-{{ $index }}"
                                    name="tax_exemption_reason_id"
                                    ng-model="stavka.tax_exemption_reason_id"
                                    ng-required="stavka.porez_procenat === null"
                                    ng-disabled="stavka.isDisabled"
                                    theme="select2"
                                    data-search-enabled="false"
                                    ng-change="ctrl.invoiceFactory.recalculateItemBasedOnExemption(ctrl.racun, stavka); ctrl.onItemUpdate();">
                                    <ui-select-match allow-clear="true" placeholder="&nbsp;">
                                        <span ng-bind="$select.selected.description"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in (ctrl.tax_exemption_reasons | filter: $select.search) track by item.id">
                                        <span ng-bind="item.description"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-messages="innerForm.tax_exemption_reason_id.$error" role="alert" class="invalid-feedback">
                                    <div ng-messages-include="error-messages"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" ng-if="stavka.porez_procenat !== null">
                                <label for="stavka-cijena-{{ $index }}" class="form-label">
                                    Osnovica
                                </label>
                                <input
                                    type="number"
                                    inputmode="decimal"
                                    class="form-control"
                                    name="jedinicna_cijena_osnovna"
                                    id="stavka-cijena-{{ $index }}"
                                    ng-model="stavka.jedinicna_cijena_osnovna"
                                    ng-change="ctrl.invoiceFactory.recalculateItemBasedOnUPB(ctrl.racun, stavka); ctrl.onItemUpdate();"
                                    ng-required="true"
                                    ng-disabled="stavka.isDisabled"
                                    min="0.0001"
                                    step="0.0001">
                                <div ng-messages="innerForm.jedinicna_cijena_osnovna.$error" role="alert" class="invalid-feedback">
                                    <div ng-messages-include="error-messages"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4" ng-if="stavka.porez_procenat !== null">
                                <label for="stavka-jedinicna-cijena-puna-{{ $index }}" class="form-label">
                                    Cijena sa porezom
                                </label>
                                <input
                                    type="number"
                                    inputmode="decimal"
                                    class="form-control"
                                    name="jedinicna_cijena_puna"
                                    id="stavka-jedinicna-cijena-puna-{{ $index }}"
                                    ng-model="stavka.jedinicna_cijena_puna"
                                    ng-model-options="{ allowInvalid: true }"
                                    ng-change="ctrl.invoiceFactory.recalculateItemBasedOnUPA(ctrl.racun, stavka); ctrl.onItemUpdate();"
                                    ng-required="true"
                                    ng-disabled="stavka.isDisabled"
                                    min="0.0001"
                                    step="0.0001">
                                <div ng-messages="innerForm.jedinicna_cijena_puna.$error" role="alert" class="invalid-feedback">
                                    <div ng-messages-include="error-messages"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="stavka-kolicina-{{ $index }}" class="form-label">
                                    Količina
                                </label>
                                <input
                                    type="number"
                                    inputmode="numeric"
                                    class="form-control"
                                    id="stavka-kolicina-{{ $index }}"
                                    name="kolicina"
                                    ng-model="stavka.kolicina"
                                    ng-model-options="{ allowInvalid: true }"
                                    ng-change="ctrl.onInvoiceItemQuantityChange($index); ctrl.onItemUpdate();"
                                    ng-required="true"
                                    min="0.001"
                                    step="0.001">
                                <div ng-messages="innerForm.kolicina.$error" role="alert" class="invalid-feedback">
                                    <div ng-messages-include="error-messages"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="stavka-jedinica-mjere-id" class="form-label">
                                    Jedinica mjere
                                </label>
                                <ui-select
                                    id="stavka-jedinica-mjere-id"
                                    name="jedinica_mjere_id"
                                    ng-model="stavka.jedinica_mjere_id"
                                    ng-disabled="stavka.isDisabled"
                                    theme="select2"
                                    search-enabled="true"
                                    required>
                                    <ui-select-match placeholder="&nbsp;">
                                        <span ng-bind="$select.selected.naziv"></span>
                                        -
                                        <span ng-bind="$select.selected.opis"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in (ctrl.jediniceMjere | filter: $select.search) track by item.id">
                                        <span ng-bind="item.naziv"></span>
                                        -
                                        <span ng-bind="item.opis"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div ng-messages="innerForm.jedinica_mjere_id.$error" role="alert" class="invalid-feedback">
                                    <div ng-messages-include="error-messages"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="stavka-rabat-{{ $index }}" class="form-label">
                                    Popust %
                                </label>
                                <input
                                    type="number"
                                    inputmode="decimal"
                                    class="form-control"
                                    id="stavka-rabat-{{ $index }}"
                                    name="rabat_procenat"
                                    ng-model="stavka.rabat_procenat"
                                    ng-change="ctrl.invoiceFactory.recalculateItem(ctrl.racun, stavka); ctrl.onItemUpdate();"
                                    ng-required="true"
                                    ng-disabled="stavka.isDisabled"
                                    min="0"
                                    max="100"
                                    step="0.01">
                                <div ng-messages="innerForm.rabat_procenat.$error" role="alert" class="invalid-feedback">
                                    <div ng-messages-include="error-messages"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="stavka-cijena-sa-pdv-{{ $index }}" class="form-label">
                                    Za uplatu
                                </label>
                                <input
                                    type="number"
                                    inputmode="decimal"
                                    class="form-control"
                                    id="stavka-cijena-sa-pdv-{{ $index }}"
                                    name="ukupna_cijena_prodajna"
                                    ng-model="stavka.ukupna_cijena_prodajna"
                                    ng-model-options="{ allowInvalid: true }"
                                    disabled
                                    ng-required="true"
                                    ng-disabled="stavka.isDisabled"
                                    ng-change="ctrl.invoiceFactory.recalculateItem(ctrl.racun, stavka); ctrl.onItemUpdate();"
                                    min="0.0001"
                                    step="0.0001"
                                    ng-max="stavka.ukupna_cijena_puna">
                                <div ng-messages="innerForm.ukupna_cijena_prodajna.$error" role="alert" class="invalid-feedback">
                                    <div ng-messages-include="error-messages"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button
                            type="button"
                            class="btn btn-light border"
                            ng-click="ctrl.deleteInvoiceItem($index)">
                            <i class="fa fa-trash"></i> Obriši
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end mt-3">
            <button
                type="button"
                class="btn btn-primary"
                ng-click="ctrl.addInvoiceItem()">
                <i class="fa fa-plus"></i> Dodaj sledeću stavku
            </button>
        </div>

        <div class="mt-4"></div>
        <div class="card">
            <div class="card-header">
                <div class="fw-bold text-uppercase">
                    Načini plaćanja
                </div>
            </div>
            <div class="card-body">
                <label class="form-label" for="primary-payment-method-type">
                    Način plaćanja
                </label>
                <ui-select
                    id="primary-payment-method-type"
                    name="invoice_payment_method"
                    theme="select2"
                    search-enabled="true"
                    ng-model="ctrl.primary_payment_method.payment_method_type_id"
                    ng-required="true"
                    ng-change="ctrl.setPaymentMethod();">
                    <ui-select-match placeholder="&nbsp;">
                        {{ $select.selected.description }}
                    </ui-select-match>
                    <ui-select-choices repeat="payment_method_type.id as payment_method_type in (ctrl.payment_method_types | filter: $select.search) track by payment_method_type.id">
                        {{ payment_method_type.description }}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="mt-4"></div>
        <div class="card">
            <div class="card-header">
                <div class="fw-bold text-uppercase">
                    Napomena
                </div>
            </div>
            <textarea
                name="napomena"
                id="napomena"
                rows="5"
                class="form-control border-0"
                ng-model="ctrl.racun.napomena"
                style="min-height: 80px;"
                fis-textarea-resize>
            </textarea>
        </div>

        <div class="mt-4"></div>
        <div class="card">
            <div class="card-header">
                <div class="fw-bold text-uppercase">
                    Za uplatu
                </div>
            </div>
            <div class="card-body">
                <div class="text-nowrap text-end">
                    <span class="fs-1">{{ ctrl.racun.ukupna_cijena_prodajna | fisRoundHalfUp:2 }}</span>
                    <span>{{ $root.currency }}</span>
                </div>
            </div>
        </div>

        <div class="mt-3"></div>
        <div class="d-flex flex-column-reverse flex-md-row justify-content-end gap-2">
            <button
                type="button"
                class="btn btn-light border"
                ui-sref="faktura_pregled_redovnih()">
                <i class="fa fa-close"></i> Odustani
            </button>
            <button
                type="button"
                class="btn btn-light border"
                ng-click="ctrl.createInvoiceTemplate()">
                Napravi predračun
            </button>
            <button
                type="button"
                class="btn btn-primary"
                ng-click="ctrl.createInvoice()">
                Fiskalizuj
            </button>
        </div>
    </form>
</div>

<div class="scroll-buffer-large"></div>
