<div class="modal-header position-sticky top-0 bg-white d-none d-md-block" style="z-index: 1;">
    <h4 class="mb-0">{{ ctrl.title }}</h4>
</div>
<div class="modal-header d-md-none p-0 position-sticky top-0">
    <div class="w-100 d-flex justify-content-between">
        <div>
            <button type="button" class="btn rounded-0" data-ng-click="$close({ isConfirmed: false })">
                <i class="fa fa-arrow-left"></i> Nazad
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-link text-decoration-none rounded-0" data-ng-click="ctrl.confirm()">
                Potvrdi
            </button>
        </div>
    </div>
</div>
<div class="modal-header p-0 border-bottom-0" ng-if="ctrl.tabs.length > 0">
    <ul class="nav nav-tabs nav-tabs-underline w-100" data-bs-tabs="tabs" ng-click="ctrl.onTabChange();">
        <li class="nav-item" ng-repeat="tab in ctrl.tabs">
            <a class="nav-link" ng-class="{ 'active': ctrl.tab === tab }" data-ng-click="ctrl.tab = tab;">
                {{ tab }}
            </a>
        </li>
    </ul>
</div>
<div class="modal-body flex-grow-0 border-bottom p-0" ng-if="ctrl.searchEnabled">
    <div class="position-absolute top-0 left-0 w-100 h-100 px-3 d-flex align-items-center justify-content-end pe-none">
        <button
            class="btn btn-primary py-2 lh-1 pe-auto btn-sm"
            data-ng-click="ctrl.search()">
            <i class="fa fa-search d-md-none"></i>
            <span class="d-none d-md-block">Pretraži</span>
        </button>
    </div>
    <input
        type="text"
        class="form-control py-3 ps-3 shadow-none border-0 fs-5"
        style="padding-right: 100px;"
        autofocus
        placeholder="Pretraga..."
        ng-model="ctrl.query"
        ng-keydown="ctrl.searchOnInputEnter($event)">
</div>
<div class="modal-body bg-light overflow-y-scroll">
    <div class="card card-body"
         data-ng-click="ctrl.toggle(item)"
         data-ng-class="{ 'mt-3': !$first, 'border-primary bg-primary bg-opacity-10': item.is_selected }"
         ng-repeat="item in ctrl.items track by $index">
        <h5 class="mb-0">{{ item.description }}</h5>
    </div>
    <button type="button" class="btn btn-primary w-100 mt-3"
            data-ng-show="ctrl.hasMoreItems"
            data-ng-click="ctrl.loadMoreItems($event)">
        Učitaj još {{ ctrl.items.length }} / {{ ctrl.totalItems }}
    </button>
    <div class="p-5 text-center" ng-show="ctrl.isLoading">
        <div class="spinner-border spinner-lg" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="modal-footer position-sticky bottom-0 bg-white d-none d-md-block" style="z-index: 1;">
    <div class="text-end">
        <button type="button" class="btn btn-light border" data-ng-click="$close({ isConfirmed: false })">
            Nazad
        </button>
        <button type="button" class="btn btn-primary" data-ng-click="ctrl.confirm()">
            Potvrdi
        </button>
    </div>
</div>