<form name="ctrl.forma" class="d-flex flex-column h-100">
    <div class="modal-header">
        <b>Novi kupac</b>
    </div>
    <div class="modal-body flex-grow-1 overflow-y-scroll">
        <div class="row g-3">
            <div class="col-12">
                <div class="form-group">
                    <label for="modal-komitent-naziv" class="form-label">Naziv</label>
                    <input type="text" class="form-control" name="naziv" id="modal-komitent-naziv" ng-model="ctrl.buyer.naziv" required ng-class="{ 'is-invalid': ctrl.forma.$submitted && ctrl.forma.naziv.$invalid }">
                    <div ng-messages="ctrl.forma.naziv.$error" role="alert" class="invalid-feedback">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="modal-komitent-tip-identifikacione-oznake-id" class="form-label">Tip identifikacione oznake</label>
                    <ui-select name="tip_identifikacione_oznake_id" id="modal-komitent-tip-identifikacione-oznake-id" ng-model="ctrl.buyer.tip_identifikacione_oznake_id" theme="select2" search-enabled="false" required ng-class="{ 'is-invalid': ctrl.forma.$submitted && ctrl.forma.tip_identifikacione_oznake_id.$invalid }">
                        <ui-select-match placeholder="&nbsp;">
                            <div ng-bind="$select.selected.naziv"></div>
                        </ui-select-match>
                        <ui-select-choices repeat="item.id as item in (ctrl.tipoviIdentifikacioneOznake | filter: $select.search) track by item.id">
                            <span ng-bind="item.naziv"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div ng-messages="ctrl.forma.tip_identifikacione_oznake_id.$error" role="alert" class="invalid-feedback">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="modal-komitent-identifikaciona-oznaka" class="form-label">Identifikaciona oznaka</label>
                    <input type="text" class="form-control" name="identifikaciona_oznaka" id="modal-komitent-identifikaciona-oznaka" ng-model="ctrl.buyer.identifikaciona_oznaka" required ng-class="{ 'is-invalid': ctrl.forma.$submitted && ctrl.forma.identifikaciona_oznaka.$invalid }">
                    <div ng-messages="ctrl.forma.identifikaciona_oznaka.$error" role="alert" class="invalid-feedback">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="modal-komitent-pdvbroj" class="form-label">PDV broj</label>
                    <input type="text" class="form-control" name="pdvbroj" id="modal-komitent-pdvbroj" ng-model="ctrl.buyer.pdvbroj" ng-class="{ 'is-invalid': ctrl.forma.$submitted && ctrl.forma.pdvbroj.$invalid }">
                    <div ng-messages="ctrl.forma.pdvbroj.$error" role="alert" class="invalid-feedback">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="modal-komitent-adresa" class="form-label">Adresa</label>
                    <input type="text" class="form-control" name="adresa" id="modal-komitent-adresa" ng-model="ctrl.buyer.adresa" required ng-class="{ 'is-invalid': ctrl.forma.$submitted && ctrl.forma.adresa.$invalid }">
                    <div ng-messages="ctrl.forma.adresa.$error" role="alert" class="invalid-feedback">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="modal-komitent-grad" class="form-label">Grad</label>
                    <input type="text" class="form-control" name="grad" id="modal-komitent-grad" ng-model="ctrl.buyer.grad" required ng-class="{ 'is-invalid': ctrl.forma.$submitted && ctrl.forma.grad.$invalid }">
                    <div ng-messages="ctrl.forma.grad.$error" role="alert" class="invalid-feedback">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="modal-komitent-drzava" class="form-label">Država</label>
                    <ui-select name="drzava" id="modal-komitent-drzava" ng-model="ctrl.buyer.drzava" theme="select2" search-enabled="false" required ng-class="{ 'is-invalid': ctrl.forma.$submitted && ctrl.forma.drzava.$invalid }">
                        <ui-select-match placeholder="Odaberite državu">
                            <span ng-bind="$select.selected.drzava"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item.id as item in (ctrl.drzave | filter: $select.search) track by item.id">
                            <span ng-bind="item.drzava"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div ng-messages="ctrl.forma.drzava.$error" role="alert" class="invalid-feedback">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="w-100 d-flex">
            <button type="button" class="btn btn-dark flex-grow-1" ng-click="$close({ isConfirmed: false })">
                Odustani
            </button>
            <div class="me-2"></div>
            <button type="button" class="btn btn-success flex-grow-1" ng-click="ctrl.sacuvaj()">
                Sačuvaj
            </button>
        </div>
    </div>
</form>
