<div class="container-lg mt-3">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-12 col-xl-9 col-xxl-8">
            <div class="card">
                <div class="card-header position-sticky top-navbar">
                    <div class="fw-bold">Žurnal</div>
                </div>
                <div class="card-body">
                    <span class="btn btn-outline-dark btn-sm" ng-click="fisReportService.zurnal(fisReportService.getMonthStartRelative(-1), fisReportService.getMonthEndRelative(-1))">prethodni mjesec</span>
                    <span class="btn btn-outline-dark btn-sm" ng-click="fisReportService.zurnal(fisReportService.getMonthStartRelative(), fisReportService.getMonthEndRelative())">tekući mjesec</span>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <div class="border pb-3">
                                <div class="p-2 text-center bg-light">Početni datum</div>
                                <div uib-datepicker ng-model="ctrl.datumOd" datepicker-options="{ customClass: ctrl.customClass }"></div>
                                <div uib-timepicker ng-model="ctrl.datumOd" class="mt-3 d-flex justify-content-center"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="border pb-3">
                                <div class="p-2 text-center bg-light">Krajnji datum</div>
                                <div uib-datepicker ng-model="ctrl.datumDo" datepicker-options="{ customClass: ctrl.customClass }"></div>
                                <div uib-timepicker ng-model="ctrl.datumDo" class="mt-3 d-flex justify-content-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success d-block w-100 wd-md-100p" ng-click="fisReportService.zurnal(ctrl.datumOd, ctrl.datumDo)">
                        <i class="fa fa-print"></i> Štampaj
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scroll-buffer-large"></div>