<div class="p-3">
  <form [formGroup]="this.formGroup" (ngSubmit)="login()">
    <div class="max-w-screen-sm mx-auto mt-20" style="max-width: 420px;">
      <div class="card">
        <div class="card-body">
          <h1 class="h4 mb-3">Prijava</h1>
          <div class="form-control-layout">
            <label class="form-label">Korisničko ime</label>
            <input #usernameInput type="text" class="form-control" formControlName="username" autocapitalize="off">
            @if (formGroup.get('username')?.hasError('required')) {
              <div class="invalid-feedback">
                Obavezan podatak
              </div>
            }
          </div>
          <div class="mt-3"></div>
          <div class="form-control-layout">
            <label class="form-label">Lozinka</label>
            <input type="password" class="form-control" formControlName="password" autocapitalize="off">
            @if (formGroup.get('password')?.hasError('required')) {
              <div class="invalid-feedback">
                Obavezan podatak
              </div>
            }
            @if (formGroup.get('password')?.hasError('minlength')) {
              <div class="invalid-feedback">
                Minimalna dužina lozinke je 8 karaktera.
              </div>
            }
          </div>
          @if (errorMessage !== null && errorMessage !== undefined) {
            <div class="mt-3"></div>
            <div class="invalid-feedback">
              {{ errorMessage }}
            </div>
          }
          <div class="mt-4 text-end">
            <button type="submit" class="btn btn-primary">
              Potvrdi
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
