<div class="d-flex gap-1 mt-1">
    <span class="badge {{ badge.class }}" ng-repeat="badge in badges">{{ badge.text }}</span>

<!--    <span class="badge bg-dark" ng-if="(invoice.status === 2 || invoice.status === 4) && invoice.tip_fakture_id === 1">redovni račun</span>-->
<!--    <span class="badge bg-primary" ng-if="invoice.status === 2 && invoice.tip_fakture_id === 2">storno račun</span>-->
<!--    <span class="badge bg-info" ng-if="invoice.status === 2 && invoice.tip_fakture_id === 3">zbirni račun</span>-->
<!--    <span class="badge bg-info" ng-if="invoice.status === 5">ima knjižno odobrenje</span>-->
<!--    <span class="badge bg-primary" ng-if="invoice.status === 2 && invoice.tip_fakture_id === 7">korektivni račun</span>-->
<!--    <span class="badge bg-primary" ng-if="invoice.status === 2 && invoice.tip_fakture_id === 8">korekcija greške</span>-->
<!--    <span class="badge bg-danger" ng-if="invoice.status === 4">storniran</span>-->
<!--    <span class="badge bg-warning" ng-if="invoice.je_korigovana">korigovan</span>-->
<!--    <span class="badge bg-danger" ng-if="invoice.status === 1 || invoice.status === 3">neuspjela fiskalizacija</span>-->
</div>